realm_name               = "master"
keycloak_URL             = "http://localhost:8080"
keycloak_user            = "admin"
keycloak_pass            = "admin"
ldap_connectionName      = "AD-Connection"
ldap_user                = "AD_Service_Account"
ldap_pass                = "AD_Password"
ldap_URL                 = "ldap://localhost:389"
ldap_UsersDN             = "CN=Users,dc=example,dc=org"
ldap_groupConnectionName = "AD-group-mapper"
ldap_groupsDN            = "CN=groups,dc=example,dc=org"